 <style>
   .custom-icon {
      color: #0A91B1;
      font-size: 250%;
      margin-right: 5px;
      vertical-align: middle;
   }
 </style>

<div style="display: flex; justify-content: space-between;">
   <blockquote style="flex-shrink: 1; margin-right: 20px;">
      <i class="custom-icon fa-solid fa-quote-left"></i> 
      "{{ .Get "quote1" | markdownify }}"
      <br><br>
      <footer>{{ .Get "author1" | markdownify }}</footer>
   </blockquote>
   <blockquote style="flex-shrink: 1;">
      <i class="custom-icon fa-solid fa-quote-left"></i> 
      "{{ .Get "quote2" | markdownify }}"
      <br><br>
      <footer>{{ .Get "author2" | markdownify }}</footer>
   </blockquote>
</div>
